:root {
	--primary-strong: hsl(172, 67%, 45%);
	--very-dark: hsl(183, 100%, 15%);
	--dark-grayish: hsl(186, 14%, 43%);
	--grayish: hsl(184, 14%, 56%);
	--light-grayish: hsl(185, 41%, 84%);
	--very-light: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	width: 100%;
	overflow: hidden;
}

/* - Mobile: 375px */
/* - Desktop: 1440px */
