:root {
	--primary-strong: hsl(172, 67%, 45%);
	--very-dark: hsl(183, 100%, 15%);
	--dark-grayish: hsl(186, 14%, 43%);
	--grayish: hsl(184, 14%, 56%);
	--light-grayish: hsl(185, 41%, 84%);
	--very-light: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Space Mono", monospace;
	font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.main {
	background-color: var(--light-grayish);
}

.main__h1 {
	color: var(--very-dark);
	font-size: 2rem;
	letter-spacing: 0.5rem;
	text-align: center;
	padding: 4rem 0;
}

.main__container {
	background-color: var(--white);
	width: 100%;
	border-radius: 2rem;
}

.section01 {
	padding: 2rem 2rem;
}

.section01__p {
	color: var(--dark-grayish);
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 1.7rem;
}

.section01__input--tip {
	width: 100%;
	background-color: var(--very-light);
	border: 0px;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
}

.section01__h3--tip {
	color: var(--dark-grayish);
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
}

.section01__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
	justify-items: center;
	margin-bottom: 2rem;
}

.section01__container div {
	background-color: var(--very-dark);
	width: 100%;
	color: var(--white);
	text-align: center;
	font-weight: bold;
	border-radius: 0.5rem;
	font-size: 2.5rem;
	padding: 0.5rem 4rem;
}

.section01__container div:nth-child(3) {
	background-color: var(--primary-strong);
	color: var(--very-dark);
}

.section01__container input {
	width: 100%;
	border: 0;
	background-color: var(--very-light);
}

.section01__container input::placeholder {
	text-align: center;
	color: var(--dark-grayish);
	font-weight: bold;
	font-size: 2rem;
}

/* - Mobile: 375px */
/* - Desktop: 1440px */
